<div class="header">
     <div class="container">
       <h1>&iquestSayQu‌&#233;?</h1>
       <h2>Sharing the momentous words we hear <br> from our Spanish-speaking loved ones</h2>
       
       <ul class="nav">
          <li>Have words to share?
            <ul id="dropdown-ul">
              <li id="dropdown"><em>L</em>atinos know all too well the crazy, questionable, and hilarious things our families' say.</li>
              <li id="dropdown">This site was created as a means of entertainment, as well as, exposing non-Spanish speakers with the delight we hear from family gatherings.</li>
              <li id="dropdown"><b>Word of Caution:</b> words WILL BE literally translated by Google</li>
              <li id="dropdown"><font color="black">Have wise words to share? Type 'em up here and add them to the collection</font></li>
            </ul>
        </li>  
     </div>
</div>


  <div class="funky">
    <div class="container">
       <%= form_for (@new_post) do |f| %>
        <%= f.text_field :comment, :placeholder => "Share your words here" %>
        <%= f.submit "See your words", :class => 'btn' %>
    <% end %>

      <ul class="comments">

           <% @all_posts.each do |p| %>


            <div class="col-sm-6">
              <div class="row-1">
                <li class="translate"> <%= p.comment%>
                  <div class="translate_control" lang="en"></div>
                 
                </p>
                <div id="p"></div>
              </div>
            </div>
           <% end %>
      </ul>
    </div>
  </div>
 

    <script>
    function googleSectionalElementInit() {
      new google.translate.SectionalElement({
        sectionalNodeClassName: 'translate',
        controlNodeClassName: 'translate_control',
        background: '#f4fa58'
      }, 'google_sectional_element');
    }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=en"></script>




   <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
        <h3>Share</h3>
      </div>
         <div class="col-sm-6 right">
          <h3>Meet us</h3>
      </div>
    </div>
    <div class="row">
          <div class="col-sm-3">
    <%= link_to "http://www.twitter.com/" do %>
      <i class="fa fa-twitter fa-4x"></i>
    <% end %>
  </div>
        <div class="col-sm-3">
    <%= link_to "http://www.facebook.com/" do %>
      <i class="fa fa-facebook fa-4x"></i>
    <% end %>
        </div>

      <div class="col-sm-6 right">
        <p>This project was created with love. Love for our families and the crazy and wonderful things we overhear. We wanted to capture memories, capture the moment and hopefully capture your interest to share and build Quesay some more. Enjoy! </p>
        <p><font color=#fff>&copy; 2015 &iquestSayQu‌&#233;?</p>
      </div>
      </div>
    </div>
   
   
